body {
  margin: 0;
  font-family: Arial;
  background: #0e0e0e;
  color: white;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  color: #00ffcc;
}

.photo-section img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

section {
  margin-top: 20px;
}

input, select {
  padding: 5px;
  margin: 5px;
  width: 90px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00ffcc;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.result {
  margin-top: 30px;
  background: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
}
